body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family: Comic Sans MS, Comic Sans, cursive;
}

#Container {
	width: 1350px;
	height:900px;
	
}

#header {
	width: 1350px;
	height: 200px;
	position: relative;
	background-color: #CCC;
	border-bottom: 2px solid #000000;
}

#logoutSpan{
	
	width: 250px;
	height: 150px;
	border: 1px solid black;
	position: relative;
	left: 898px;
	bottom: 10px;
	top: -165px;
	background-color:#00ccff;
	margin-bottom:10px;
	
}

#sidebar {
	float: left;
	width: 350px;
	height: 700px;
	background-color: #0CC;
}

.mainBody {
	margin: auto;
	width: 1000px;
	height: 700px;
	background-color: #00ff00;
	float: right;
}

.pic{
	position: absolute;
	left: 1150px;
	bottom: 0px;
	
}

#logout{
	margin-left:25px;
	font-family: cursive;
}

#cancel{
	margin-left:80px;
	margin-top:25px;
	font-family: cursive;
}

#custom{
	text-align:center;
	font-family: cursive;
}

h1{
	font-family: cursive;
	margin-left: 230px;
	font-size: 70px;
}

h2{
	text-align:center;
	font-family: Comic Sans MS, Comic Sans, cursive;
	font-size: 30px;
}




ul li {
    display: block;
    width: 250px;
    background: #ff0066;
    color: black;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 17px;
    padding: 5px;
    margin: 4px;
    border : 4px black solid;
    border-radius: 10px;
    
}

ul li a{
	text-align:center;
	padding-left: 60px;
}

ul li:hover{
	background:#0000ff;
	
}
#a1{
	padding-left:10px;	
}


#myForm{
	
	margin-left: 300px;
	margin-top: 10px;
	padding-top: -10px;
}

#myForm2{
	
	margin-left: 150px;
	margin-top: 10px;
	padding-top: -10px;
}

#myForm3{
	
	display:block;
	overflow:auto;
	margin-left:25px
}
#myForm4{
	
	display:block;
	overflow:auto;
	margin-left:200px;
	
}
#myForm5{
	
	display:block;
	overflow:auto;
	margin-left:120px;
	
}
#span1{
	margin-left:23px;
}
#span2{
	margin-left:2px;
}
#span3{
	margin-left:51px;
}
#span4{
	margin-left:40px;
}
#span5{
	margin-left:121px;
}
#span6{
	margin-left:194px;
}
#span7{
	margin-left:38px;
}
#create{
	margin-left:340px;
}

input{
	padding: 10px;
    font-size: inherit;
    border-radius : 5px;
}

p{
	font-family: Comic Sans MS, Comic Sans, cursive;
	
}

span{
	font-family: Comic Sans MS, Comic Sans, cursive;
}

table{
	
	border: 1px solid black;
	border-collapse: collapse;
	background-color:#ccff99;

	
}

th,td{
	border: 1px solid black;
	padding : 5px;
}

tr:nth-child(2n){
	background-color:#ccffff;
}


thead{
	
	background-color:#00ffff;
}
tbody{
	
	max-height:400px;
	overflow-y:auto;
}


#second{
	margin-left:-180px;
}

.arrow-up {
width : 0;
height : o;
border-left : 5px solid transparent;
border-right : 5px solid transparent;
border-bottom : 10px solid black;
display : inline-block;
}

.arrow-down {
width : 0;
height : o;
border-left : 5px solid transparent;
border-right : 5px solid transparent;
border-top : 10px solid black;
display : inline-block;
}
#select1{
	margin-left:300px;
}











