<h2><u><b>GET ALL CUSTOMERS</b></u></h2>
<div id="myForm" ng-controller="getAllCustomerCrtl as j">
 <table>
 <thead>
              <tr>
                  <th ng-click="j.sortData('id')">Id &nbsp<div ng-class="j.getSortClass('id')"></div></th>
                  <th ng-click="j.sortData('name')">Name &nbsp<div ng-class="j.getSortClass('name')"></div></th>
                  <th ng-click="j.sortData('pasword')">Password &nbsp<div ng-class="j.getSortClass('pasword')"></div></th>
                  <th ng-click="j.sortData('number')">number of coupons &nbsp<div ng-class="j.getSortClass('number')"></div></th>
                </tr>
                </thead>
                <tbody>
              <tr ng-repeat="customer in j.arr  | orderBy:j.sortColumn:j.reverseSort"">
                  <td>{{customer.id}}</td>
                  <td>{{customer.custName}}</td>
                  <td>{{customer.password}}</td>
                  <td>{{customer.mycoupons.length}}</td>
                </tr>
                </tbody>
               </table>
               <br><br>
{{j.resault}}

</div>
